*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: whitesmoke;
}

header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.header__logo:hover{
    transform: rotate(360deg);
    transition: 1s;
}

/*Inicio barra de navegación estilos*/
nav{
    display: flex;
    align-items: flex-end;
    text-align: center;
    padding: 30px;
}

ul{
    display: flex;
}


ul li{
    list-style: none;
    margin: 20px;
}

ul li a{
    text-decoration: none;
    font-size: 17px;
    color: #7CA68E;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
/*Fin barra de navegación estilos*/

li:hover{
    border-bottom: 5px solid #7CA68E;
}

.banner_main{
    background-image: url("../images/banner_main.jpg");
    background-size: cover;
    height: 600px;
}
/*Inicio Span estilo*/
span{
    display: block;
}
/*Fin Span estilo*/
h1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 70px;
    position: relative;
    text-align: center;
    padding-top: 200px;
}

h1:hover{
    font-size: 75px;
    color: black;   
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
}

.banner_main p{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 40px;
    position: relative;
    text-align: center;
}

.section__cards{
    display:flex;
    margin-top: 15px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
}

.section__cards__box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section__cards__p{
    align-items: center;
    justify-content: center;
    margin-top: 15px; 
    margin-bottom: 10px;  
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

/*Inicio Footer*/
footer{
    display: flex;
    width: 100%;
    background-color: #7CA68E;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-right: 40px;
}

.footer__sub{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.footer__p{
    color: white;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
}

.footer__iframe{
    padding: 10px;
}
/*Fin Footer*/

/*Inicio Grid Sección Interior - Exterior*/
.grid_container{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.grid_item_interior, .grid_item_exterior{
    width: 400px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgb(124, 166, 142, 0.2);
    border-radius: 10px;
    transition: 0.9s;
}
/*Fin Grid Sección Interior - Exterior*/

/*Inicio animaciones sección Interior - Exterior*/
.img_calathea:hover, .img_potus:hover, .img_cactus:hover, .img_asplenium:hover, .img_paloagua:hover, .img_massangeana:hover, .img_dieff:hover, .img_ficus:hover,.img_gomero:hover, .img_alocasia:hover, .img_bananero:hover, .img_monstera:hover, .img_scheff:hover, .img_zamio:hover, .img_duranta:hover, .img_azalea:hover, .img_buxus:hover, .img_latania:hover{
    opacity: 80%;
    padding: 5px;
}
/*Fin animaciones sección Interior - Exterior*/

/*Inicio media index*/
@media (max-width: 640px){
    h1{
        font-size:40px;
    }
    .main__p{
        font-size: 30px;
    }
    .section__cards{
        flex-direction: column;
        align-items: center;
    } 
     footer{
        flex-direction: column;
        height: 200px;
    }
    .footer__sub{
        margin-top: 15px;
        font-size: 25px;
        font-weight: lighter;
    }
    .footer__p{
        font-size: 15px;
    }
    iframe{
        display: none;
    }
    .grid_container{
        display:flex;
        flex-direction: column;
    }
}
/*Fin media index*/

/*Form bootstrap*/
.btn-primary{
    background-color: #7CA68E;
}

.btn{
    border: #7CA68E;
}

.btn-primary:hover{
    background-color: #7CA68E;
}
/*Fin Form Bootstrap*/